{% extends "base.html" %}
{% block content %}
    <main class="mb-4">
        <div class="container px-4 px-lg-5" style="margin-top:5%;">
            <a href="{% url "blog:home" %}">⭅ Back to home</a>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10">
                    <h3>Register</h3>
                    <div class="my-5">
                        {% if form.errors %}<p>Something Went wrong!</p>{% endif %}
                        {% if next %}
                            {% if user.is_authenticated %}
                                <p>
                                    Your account doesn't have access to this page. To proceed,
                                    please login with an account that has access.
                                </p>
                            {% else %}
                                <p>Please login to see this page.</p>
                            {% endif %}
                        {% endif %}
                        <form method="post"
                              action="{% url 'user:register' %}"
                              id="contactForm"
                              data-sb-form-api-token="API_TOKEN">
                            {% csrf_token %}
                            <div class="form-floating">
                                <input class="form-control"
                                       id="name"
                                       type="text"
                                       placeholder="Enter your name..."
                                       name="username"
                                       data-sb-validations="required"/>
                                <label for="name">Username</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control"
                                       id="name"
                                       type="text"
                                       placeholder="Enter your name..."
                                       name="first_name"
                                       data-sb-validations="required"/>
                                <label for="name">First Name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Abdul</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control"
                                       id="name"
                                       type="text"
                                       placeholder="Enter your name..."
                                       name="last_name"
                                       data-sb-validations="required"/>
                                <label for="name">Last Name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Rehman</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control"
                                       id="name"
                                       type="email"
                                       placeholder="Enter your email..."
                                       name="email"
                                       data-sb-validations="required"/>
                                <label for="name">Email</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">support@test.com</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control"
                                       type="password"
                                       placeholder="Enter your password..."
                                       data-sb-validations="required,password"
                                       name="password1"/>
                                <label for="email">Password</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Password is required.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control"
                                       type="password"
                                       placeholder="Enter your password..."
                                       data-sb-validations="required,password"
                                       name="password2"/>
                                <label for="email">Confirm Password</label>
                                <div class="invalid-feedback" data-sb-feedback="password2:required">Password is required.</div>
                            </div>
                            <br />
                            <div>
                                <label>Want to be a Publisher?</label>
                                <label class="switch">
                                    <input type="checkbox" name="blogger"/>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <br />
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            {% comment %} <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                            </div> {% endcomment %}
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            {% if form.errors %}
                                <div class="d-none" id="submitErrorMessage">
                                    <div class="text-center text-danger mb-3">Your username and password didn't match. Please try again.</div>
                                </div>
                            {% endif %}
                            <!-- Submit Button-->
                            <button class="btn btn-primary text-uppercase" type="submit">Register</button>
                        </form>
                        {# Assumes you setup the password_reset view in your URLconf #}
                        <p>
                            Already have an account?
                            <a href="{% url 'login' %}">Login Here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
