{% extends "base.html" %}
{% block content %}
    <!-- Page Header-->
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>MyDjangoProjectSec</h1>
                        <span class="subheading">Explore the tech news!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <h1>
                <i>Featured posts</i>
            </h1>
            <div class="col-md-12 col-lg-12">
                {% for post in post_list %}
                    <div class="post-preview">
                        <a href="{% url 'blog:post_detail' post.slug  %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.content|slice:":200" }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{ post.author }}</a>
                            in <a href="{% url 'blog:post_category' post.category.slug  %}">{{ post.category }}</a>
                            at {{ post.created_on| date }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                {% endfor %}
                <!-- Pager-->
                {% comment %} <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div> {% endcomment %}
            </div>
        </div>
    </div>
{% endblock content %}
